*{
    margin: 0;
    padding: 0;
}
body{
    background: white;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 19px;
    border-bottom: 5px solid #4936b4;
}
.header img{
    height: auto;
    width: 40px;
    margin-right: 15px;
}
.menu{
    font-size: 18px;
    font-weight: bold;
    color: #333;  
    margin-right: 300px;
}
.search{
    display: flex;
    align-items: center;
    flex: 1;
    margin-right: 32%;
}
.search select{
    font-size: 14px;
    padding: 7px;
}
.search input{
    flex: 1;
    font-size: 14px;
    padding: 6px ;
    padding-right: 90%;
    margin-right: 5px;
}
.menu-right{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 15px;
    color: #333;
}
.menu-right button{
    color: white;
    background: #4C0098;
    padding: 2.9px;

}
.first{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}
.image img{
    height: 400px;
    margin-top: 20px;
    margin-left: 25px;
}
.pink img{
    margin-left: 25px;
    width: 670px;
}
.two img{
    height: 550px;
    margin-top: 20px;
}
.three img{
    height: 560px;
    margin-left: 10px;
    margin-right: 28px;
}
.products img{
    width: 100%;
    margin-top: 10px;
}
.third img{
    width:100%;
    margin-top: 6px;
}